
<div class="col-12">
<div class="row mx-5 g-3">
{{#with page}}


<div class=" border">

    <p class="uppercase fs-4 fw-bold">Information about ...</p>
{{#each about}}
<div class="p-2">

 <div class="nav-item">
        <a class="btn btn-primary"  type="button" href="{{link}}">{{text}}</a>
 </div>

</div>
{{/each}}
</div>

<div class=" border">

    <p class="uppercase fs-4 fw-bold">IT</p>
{{#each it}}
<div class="p-2">

 <div class="nav-item">
        <a class="btn btn-primary"  type="button" href="{{link}}">{{text}}</a>
 </div>

</div>
{{/each}}
</div>


<div class=" border">

    <p class="uppercase fs-4 fw-bold">Shop</p>
{{#each shop}}

<div class="p-2">

 <div class="nav-item">
        <a class="btn btn-primary"  type="button" href="{{link}}">{{text}}</a>
 </div>

</div>
{{/each}}
</div>

{{/with}}
</div>
</div>